/* General Styles */
.expriences {
    display: none; 
    text-align: center;
    margin: 5rem 0;
    width: 100%;
}

.expriences-box {
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
p {
    font-size: 1.2rem;
    font-weight: 600;
}
p span {
    font-size: 2rem;
    font-weight: 900;
}
.ds {
    margin-top: 2rem;
}


@media (max-width: 768px) {
    .expriences-box {
        gap: 2rem;
        flex-direction: column; 
    }
}

@media (max-width: 480px) {
    .expriences-box {
        gap: 1.5rem; 
    }
}