#first-page {
    margin: 5rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center;
}

#first-page p {
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    line-height: 2.5rem;
    margin-bottom: 1rem; 
}

#first-page .dev-name {
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 1rem; 
    color: rgb(233, 58, 160);
}

#dev-div {
    display: none;
}
#dev-div .content-img .first-img{
margin-right: 2rem;
}

@media (max-width: 768px) {
    #first-page p {
        font-size: 1.8rem; 
        line-height: 2.2rem; 
        text-align: center;
    }

    #first-page .dev-name {
        font-size: 4rem;
    }
}


@media (max-width: 480px) {
    #first-page {
        margin: 2rem 0; 
        padding: 0 20px; 
    }

    #first-page p {
        font-size: 1.6rem; 
        line-height: 2rem; 
    }

    #first-page .dev-name {
        font-size: 3.5rem; 
    }
}